In [30]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# Read each quarter for each year of Metropolitan Median House Price Data Files and store into Pandas DataFrames

Q1_2015 = pd.read_csv(Path("Resources/2015/Metropolitan Median House Sales Q1 2015.csv"))
Q2_2015 = pd.read_csv(Path("Resources/2015/Metropolitan Median House Sales Q2 2015.csv"))
Q3_2015 = pd.read_csv(Path("Resources/2015/Metropolitan Median House Sales Q3 2015.csv"))
Q4_2015 = pd.read_csv(Path("Resources/2015/Metropolitan Median House Sales Q4 2015.csv"))

Q1_2016 = pd.read_csv(Path("Resources/2016/Metropolitan Median House Sales Q1 2016.csv"))
Q2_2016 = pd.read_csv(Path("Resources/2016/Metropolitan Median House Sales Q2 2016.csv"))
Q3_2016 = pd.read_csv(Path("Resources/2016/Metropolitan Median House Sales Q3 2016.csv"))
Q4_2016 = pd.read_csv(Path("Resources/2016/Metropolitan Median House Sales Q4 2016.csv"))

Q1_2017 = pd.read_csv(Path("Resources/2017/Metropolitan Median House Sales Q1 2017.csv"))
Q2_2017 = pd.read_csv(Path("Resources/2017/Metropolitan Median House Sales Q2 2017.csv"))
Q3_2017 = pd.read_csv(Path("Resources/2017/Metropolitan Median House Sales Q3 2017.csv"))
Q4_2017 = pd.read_csv(Path("Resources/2017/Metropolitan Median House Sales Q4 2017.csv"))

Q1_2018 = pd.read_csv(Path("Resources/2018/Metropolitan Median House Sales Q1 2018.csv"))
Q2_2018 = pd.read_csv(Path("Resources/2018/Metropolitan Median House Sales Q2 2018.csv"))
Q3_2018 = pd.read_csv(Path("Resources/2018/Metropolitan Median House Sales Q3 2018.csv"))
Q4_2018 = pd.read_csv(Path("Resources/2018/Metropolitan Median House Sales Q4 2018.csv"))

Q1_2019 = pd.read_csv(Path("Resources/2019/Metropolitan Median House Sales Q1 2019.csv"))
Q2_2019 = pd.read_csv(Path("Resources/2019/Metropolitan Median House Sales Q2 2019.csv"))
Q3_2019 = pd.read_csv(Path("Resources/2019/Metropolitan Median House Sales Q3 2019.csv"))
Q4_2019 = pd.read_csv(Path("Resources/2019/Metropolitan Median House Sales Q4 2019.csv"))

Q1_2020 = pd.read_csv(Path("Resources/2020/Metropolitan Median House Sales Q1 2020.csv"))
Q2_2020 = pd.read_csv(Path("Resources/2020/Metropolitan Median House Sales Q2 2020.csv"))
Q3_2020 = pd.read_csv(Path("Resources/2020/Metropolitan Median House Sales Q3 2020.csv"))
Q4_2020 = pd.read_csv(Path("Resources/2020/Metropolitan Median House Sales Q4 2020.csv"))

Q1_2021 = pd.read_csv(Path("Resources/2021/Metropolitan Median House Sales Q1 2021.csv"))
Q2_2021 = pd.read_csv(Path("Resources/2021/Metropolitan Median House Sales Q2 2021.csv"))
Q3_2021 = pd.read_csv(Path("Resources/2021/Metropolitan Median House Sales Q3 2021.csv"))
Q4_2021 = pd.read_csv(Path("Resources/2021/Metropolitan Median House Sales Q4 2021.csv"))

Q1_2022 = pd.read_csv(Path("Resources/2022/Metropolitan Median House Sales Q1 2022.csv"))
Q2_2022 = pd.read_csv(Path("Resources/2022/Metropolitan Median House Sales Q2 2022.csv"))
Q3_2022 = pd.read_csv(Path("Resources/2022/Metropolitan Median House Sales Q3 2022.csv"))
Q4_2022 = pd.read_csv(Path("Resources/2022/Metropolitan Median House Sales Q4 2022.csv"))

Q1_2023 = pd.read_csv(Path("Resources/2023/Metropolitan Median House Sales Q1 2023.csv"))
Q2_2023 = pd.read_csv(Path("Resources/2023/Metropolitan Median House Sales Q2 2023.csv"))

# Combine quarters into individual years
data_2015 = pd.concat([Q1_2015, Q2_2015, Q3_2015, Q4_2015], axis =1)

data_2016 = pd.concat([Q1_2016, Q2_2016, Q3_2016, Q4_2016], axis =1)

data_2017 = pd.concat([Q1_2017, Q2_2017, Q3_2017, Q4_2017], axis =1)

data_2018 = pd.concat([Q1_2018, Q2_2018, Q3_2018, Q4_2018], axis =1)

data_2019 = pd.concat([Q1_2019, Q2_2019, Q3_2019, Q4_2019], axis =1)

data_2020 = pd.concat([Q1_2020, Q2_2020, Q3_2020, Q4_2020], axis =1)

data_2021 = pd.concat([Q1_2021, Q2_2021, Q3_2021, Q4_2021], axis =1)

data_2022 = pd.concat([Q1_2022, Q2_2022, Q3_2022, Q4_2022], axis =1)

data_2023 = pd.concat([Q1_2023, Q2_2023], axis =1)

In [16]:
Q1_2015

,City,Suburb,Sales\n1Q 2014,Median\n1Q 2014,Sales\n1Q 2015,Median\n1Q 2015,Median\nChange,Unnamed: 7
0,ADELAIDE,ADELAIDE,5.0,647500.0,6.0,757500.0,16.99%,NaN
1,ADELAIDE,NORTH ADELAIDE,9.0,1100000.0,4.0,992500.0,-9.77%,NaN
2,ADELAIDE HILLS,ALDGATE,16.0,605000.0,17.0,685000.0,13.22%,NaN
3,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BALHANNAH,1.0,335000.0,9.0,439000.0,31.04%,NaN
...,...,...,...,...,...,...,...,...
528,WEST TORRENS,THEBARTON,2.0,380000.0,2.0,452500.0,19.08%,NaN
529,WEST TORRENS,TORRENSVILLE,12.0,522500.0,12.0,616000.0,17.89%,NaN
530,WEST TORRENS,UNDERDALE,7.0,560000.0,10.0,560000.0,0.00%,NaN
531,WEST TORRENS,WEST BEACH,15.0,680000.0,19.0,770000.0,13.24%,NaN
532,WEST TORRENS,WEST RICHMOND,4.0,452500.0,2.0,363000.0,-19.78%,NaN

In [17]:
Q2_2015

,City,Suburb,Sales\n2Q 2014,Median\n2Q 2014,Sales\n2Q 2015,Median\n2Q 2015,Median\nChange
0,ADELAIDE,ADELAIDE,7.0,642500.0,9.0,785000.0,22.2%
1,ADELAIDE,NORTH ADELAIDE,17.0,1250000.0,5.0,1189000.0,-4.9%
2,ADELAIDE HILLS,ALDGATE,16.0,680000.0,9.0,685000.0,0.7%
3,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,1.0,370000.0,NaN
...,...,...,...,...,...,...,...
478,WEST TORRENS,TORRENSVILLE,12.0,485500.0,13.0,565000.0,16.4%
479,WEST TORRENS,UNDERDALE,9.0,610000.0,6.0,507500.0,-16.8%
480,WEST TORRENS,WEST BEACH,18.0,560000.0,11.0,567500.0,1.3%
481,WEST TORRENS,WEST RICHMOND,4.0,390794.0,4.0,382500.0,-2.1%
482,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
Q3_2015

,City,Suburb,Sales\n3Q 2014,Median\n3Q 2014,Sales\n3Q 2015,Median\n3Q 2015,Median\nChange
0,ADELAIDE,ADELAIDE,5.0,"960,000",5.0,"600,000",-37.50%
1,ADELAIDE,NORTH ADELAIDE,9.0,"850,000",6.0,"1,370,000",61.18%
2,ADELAIDE HILLS,ALDGATE,6.0,"550,000",6.0,"802,500",45.91%
3,ADELAIDE HILLS,ASHTON,1.0,"469,000",NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
472,WEST TORRENS,THEBARTON,5.0,"440,000",3.0,"546,000",24.09%
473,WEST TORRENS,TORRENSVILLE,15.0,"532,500",12.0,"602,500",13.15%
474,WEST TORRENS,UNDERDALE,6.0,"578,000",7.0,"580,000",0.35%
475,WEST TORRENS,WEST BEACH,15.0,"639,250",8.0,"728,000",13.88%
476,WEST TORRENS,WEST RICHMOND,3.0,"385,000",3.0,"392,500",1.95%

In [19]:
Q4_2015

,City,Suburb,Sales\n4Q 2014,Median\n4Q 2014,Sales\n4Q 2015,Median\n4Q 2015,Median\nChange
0,ADELAIDE,ADELAIDE,5.0,"770,000",5.0,"320,000",-58.44%
1,ADELAIDE,NORTH ADELAIDE,10.0,"952,500",4.0,"1,300,000",36.48%
2,ADELAIDE HILLS,ALDGATE,10.0,"670,000",7.0,"668,750",-0.19%
3,ADELAIDE HILLS,ASHTON,NaN,,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
473,WEST TORRENS,TORRENSVILLE,11.0,"545,000",10.0,"576,250",5.73%
474,WEST TORRENS,UNDERDALE,6.0,"517,500",3.0,"511,000",-1.26%
475,WEST TORRENS,WEST BEACH,17.0,"641,250",8.0,"633,500",-1.21%
476,WEST TORRENS,WEST RICHMOND,2.0,"380,000",4.0,"353,000",-7.11%
477,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data_2015

,City,Suburb,Sales\n1Q 2014,Median\n1Q 2014,Sales\n1Q 2015,Median\n1Q 2015,Median\nChange,Unnamed: 7,City,Suburb,...,Sales\n3Q 2015,Median\n3Q 2015,Median\nChange,City,Suburb,Sales\n4Q 2014,Median\n4Q 2014,Sales\n4Q 2015,Median\n4Q 2015,Median\nChange
0,ADELAIDE,ADELAIDE,5.0,647500.0,6.0,757500.0,16.99%,NaN,ADELAIDE,ADELAIDE,...,5.0,"600,000",-37.50%,ADELAIDE,ADELAIDE,5.0,"770,000",5.0,"320,000",-58.44%
1,ADELAIDE,NORTH ADELAIDE,9.0,1100000.0,4.0,992500.0,-9.77%,NaN,ADELAIDE,NORTH ADELAIDE,...,6.0,"1,370,000",61.18%,ADELAIDE,NORTH ADELAIDE,10.0,"952,500",4.0,"1,300,000",36.48%
2,ADELAIDE HILLS,ALDGATE,16.0,605000.0,17.0,685000.0,13.22%,NaN,ADELAIDE HILLS,ALDGATE,...,6.0,"802,500",45.91%,ADELAIDE HILLS,ALDGATE,10.0,"670,000",7.0,"668,750",-0.19%
3,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,...,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,,NaN,NaN,NaN
4,ADELAIDE HILLS,BALHANNAH,1.0,335000.0,9.0,439000.0,31.04%,NaN,ADELAIDE HILLS,BASKET RANGE,...,NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,WEST TORRENS,THEBARTON,2.0,380000.0,2.0,452500.0,19.08%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,WEST TORRENS,TORRENSVILLE,12.0,522500.0,12.0,616000.0,17.89%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,WEST TORRENS,UNDERDALE,7.0,560000.0,10.0,560000.0,0.00%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,WEST TORRENS,WEST BEACH,15.0,680000.0,19.0,770000.0,13.24%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,WEST TORRENS,WEST RICHMOND,4.0,452500.0,2.0,363000.0,-19.78%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data_2016

,City,Suburb,Sales\n1Q 2015,Median\n1Q 2015,Sales\n1Q 2016,Median\n1Q 2016,Median\nChange,City,Suburb,Sales\n2Q 2015,...,Sales\n3Q 2016,Median\n3Q 2016,Median\nChange,City,Suburb,Sales\n4Q 2015,Median\n4Q 2015,Sales\n4Q 2016,Median\n4Q 2016,Median\nChange
0,ADELAIDE,ADELAIDE,6.0,"757,500",3.0,"750,000",-0.99%,ADELAIDE,ADELAIDE,11.0,...,6.0,"747,500",10.66%,ADELAIDE,ADELAIDE,9.0,"677,500",6.0,"683,000",0.81%
1,ADELAIDE,NORTH ADELAIDE,4.0,"992,500",10.0,"900,500",-9.27%,ADELAIDE,NORTH ADELAIDE,11.0,...,6.0,"932,000",-46.13%,ADELAIDE,NORTH ADELAIDE,8.0,"1,780,000",6.0,"1,231,000",-30.84%
2,ADELAIDE HILLS,ALDGATE,17.0,"650,000",13.0,"715,000",10.00%,ADELAIDE HILLS,ALDGATE,9.0,...,13.0,"665,000",-8.28%,ADELAIDE HILLS,ALDGATE,14.0,"745,000",10.0,"695,000",-6.71%
3,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,...,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,1.0,"951,000",NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,1.0,...,NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,WEST TORRENS,TORRENSVILLE,12.0,"545,000",7.0,"537,500",-1.38%,WEST TORRENS,THEBARTON,5.0,...,2.0,"516,000",-5.49%,WEST TORRENS,TORRENSVILLE,14.0,"601,000",10.0,"588,000",-2.16%
474,WEST TORRENS,UNDERDALE,11.0,"560,000",3.0,"533,000",-4.82%,WEST TORRENS,TORRENSVILLE,20.0,...,6.0,"605,000",0.75%,WEST TORRENS,UNDERDALE,5.0,"724,500",4.0,"567,500",-21.67%
475,WEST TORRENS,WEST BEACH,18.0,"770,000",7.0,"825,000",7.14%,WEST TORRENS,UNDERDALE,8.0,...,6.0,"521,500",-8.51%,WEST TORRENS,WEST BEACH,12.0,"777,300",11.0,"575,000",-26.03%
476,WEST TORRENS,WEST RICHMOND,2.0,"363,000",3.0,"410,000",12.95%,WEST TORRENS,WEST BEACH,17.0,...,18.0,"660,000",3.53%,WEST TORRENS,WEST RICHMOND,6.0,"360,000",8.0,"417,500",15.97%
477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEST TORRENS,WEST RICHMOND,5.0,...,2.0,"468,500",8.95%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
data_2017

,City,Suburb,Sales\n1Q 2016,Median\n1Q 2016,Sales\n1Q 2017,Median\n1Q 2017,Median\nChange,City,Suburb,Sales\n2Q 2016,...,Sales\n3Q 2017,Median\n3Q 2017,Median\nChange,City,Suburb,Sales\n4Q 2016,Median\n4Q 2016,Sales\n4Q 2017,Median\n4Q 2017,Median\nChange
0,ADELAIDE,ADELAIDE,5.0,"792,500",6.0,"627,500",-20.82%,ADELAIDE,ADELAIDE,4.0,...,4.0,"695,000",-10.32%,ADELAIDE,ADELAIDE,7.0,"705,000",6.0,"780,500",10.71%
1,ADELAIDE,NORTH ADELAIDE,12.0,"1,050,000",6.0,"992,500",-5.48%,ADELAIDE,NORTH ADELAIDE,17.0,...,9.0,"1,375,000",47.53%,ADELAIDE,NORTH ADELAIDE,7.0,"1,165,000",5.0,"1,095,000",-6.01%
2,ADELAIDE HILLS,ALDGATE,16.0,"710,000",14.0,"695,000",-2.11%,ADELAIDE HILLS,ALDGATE,21.0,...,12.0,"735,000",11.36%,ADELAIDE HILLS,ALDGATE,10.0,"698,500",10.0,"675,000",-3.36%
3,ADELAIDE HILLS,ASHTON,NaN,NaN,1.0,"415,000",NaN,ADELAIDE HILLS,ASHTON,NaN,...,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,1.0,"470,000",NaN,ADELAIDE HILLS,BASKET RANGE,NaN,...,1.0,"488,000",NaN,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,WEST TORRENS,TORRENSVILLE,11.0,"530,000",12.0,"532,000",0.38%,WEST TORRENS,TORRENSVILLE,8.0,...,8.0,"525,000",-4.89%,WEST TORRENS,THEBARTON,6.0,"575,000",6.0,"588,650",2.37%
475,WEST TORRENS,UNDERDALE,3.0,"519,000",5.0,"540,000",4.05%,WEST TORRENS,UNDERDALE,7.0,...,7.0,"565,000",-6.34%,WEST TORRENS,TORRENSVILLE,11.0,"580,000",10.0,"635,000",9.48%
476,WEST TORRENS,WEST BEACH,7.0,"810,000",12.0,"670,000",-17.28%,WEST TORRENS,WEST BEACH,7.0,...,14.0,"770,000",16.67%,WEST TORRENS,UNDERDALE,4.0,"567,500",8.0,"650,000",14.54%
477,WEST TORRENS,WEST RICHMOND,4.0,"425,000",2.0,"419,600",-1.27%,WEST TORRENS,WEST RICHMOND,3.0,...,4.0,"379,500",-20.77%,WEST TORRENS,WEST BEACH,11.0,"540,000",8.0,"712,500",31.94%
478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,WEST TORRENS,WEST RICHMOND,8.0,"417,500",2.0,"495,000",18.56%

In [23]:
data_2018

,City,Suburb,Sales\n1Q 2017,Median\n1Q 2017,Sales\n1Q 2018,Median\n1Q 2018,Median\nChange,City,Suburb,Sales\n2Q 2017,...,Sales\n3Q 2018,Median\n3Q 2018,Median\nChange,City,Suburb,Sales\n4Q 2017,Median\n4Q 2017,Sales\n4Q 2018,Median\n4Q 2018,Median\nChange
0,ADELAIDE,ADELAIDE,6.0,"673,750",5.0,"861,000",27.79%,ADELAIDE,ADELAIDE,6.0,...,1.0,"960,000",38.13%,ADELAIDE,ADELAIDE,6.0,"780,500",4.0,"1,660,750",112.78%
1,ADELAIDE,NORTH ADELAIDE,7.0,"1,100,000",2.0,"2,195,500",99.59%,ADELAIDE,NORTH ADELAIDE,6.0,...,9.0,"1,520,000",10.55%,ADELAIDE,NORTH ADELAIDE,6.0,"1,090,000",9.0,"1,395,000",27.98%
2,ADELAIDE HILLS,ALDGATE,18.0,"782,500",17.0,"696,000",-11.05%,ADELAIDE HILLS,ALDGATE,20.0,...,6.0,"770,000",7.32%,ADELAIDE HILLS,ALDGATE,10.0,"648,500",9.0,"747,500",15.27%
3,ADELAIDE HILLS,ASHTON,1.0,"415,000",3.0,"681,200",64.14%,ADELAIDE HILLS,ASHTON,NaN,...,1.0,"600,000",NaN,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,1.0,"470,000",NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,2.0,...,NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,1.0,"640,000",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,WEST TORRENS,THEBARTON,3.0,"568,000",4.0,"560,000",-1.41%,WEST TORRENS,THEBARTON,3.0,...,4.0,"586,000",-33.03%,WEST TORRENS,THEBARTON,5.0,"588,650",5.0,"642,500",9.15%
475,WEST TORRENS,TORRENSVILLE,12.0,"570,000",15.0,"545,000",-4.39%,WEST TORRENS,TORRENSVILLE,12.0,...,12.0,"620,000",12.73%,WEST TORRENS,TORRENSVILLE,11.0,"630,000",7.0,"525,000",-16.67%
476,WEST TORRENS,UNDERDALE,4.0,"572,500",8.0,"610,500",6.64%,WEST TORRENS,UNDERDALE,3.0,...,6.0,"655,000",15.93%,WEST TORRENS,UNDERDALE,8.0,"650,000",5.0,"660,000",1.54%
477,WEST TORRENS,WEST BEACH,12.0,"684,000",13.0,"691,250",1.06%,WEST TORRENS,WEST BEACH,13.0,...,14.0,"904,000",15.90%,WEST TORRENS,WEST BEACH,8.0,"712,500",13.0,"751,000",5.40%
478,WEST TORRENS,WEST RICHMOND,2.0,"419,600",7.0,"430,000",2.48%,WEST TORRENS,WEST RICHMOND,4.0,...,1.0,"490,000",29.29%,WEST TORRENS,WEST RICHMOND,2.0,"495,000",2.0,"500,000",1.01%

In [24]:
data_2019

,City,Suburb,Sales\n1Q 2018,Median\n1Q 2018,Sales\n1Q 2019,Median\n1Q 2019,Median\nChange,City,Suburb,Sales\n2Q 2018,...,Sales\n3Q 2019,Median\n3Q 2019,Median\nChange,City,Suburb,Sales\n4Q 2018,Median\n4Q 2018,Sales\n4Q 2019,Median\n4Q 2019,Median\nChange
0,ADELAIDE,ADELAIDE,5.0,"861,000",4.0,"1,002,500",16.43%,ADELAIDE,ADELAIDE,5.0,...,4.0,"775,000",-19.27%,ADELAIDE,ADELAIDE,5.0,"1,590,000",4.0,"770,117",-51.56%
1,ADELAIDE,NORTH ADELAIDE,2.0,"2,195,500",10.0,"972,000",-55.73%,ADELAIDE,NORTH ADELAIDE,6.0,...,12.0,"1,170,000",-23.03%,ADELAIDE,NORTH ADELAIDE,9.0,"1,395,000",10.0,"1,352,500",-3.05%
2,ADELAIDE HILLS,ALDGATE,17.0,"696,000",16.0,"830,000",19.25%,ADELAIDE HILLS,ALDGATE,16.0,...,9.0,"697,500",-9.42%,ADELAIDE HILLS,ALDGATE,9.0,"747,500",14.0,"753,250",0.77%
3,ADELAIDE HILLS,ASHTON,3.0,"681,200",NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,1.0,...,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,1.0,...,NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,1.0,"640,000",1.0,"375,000",-41.41%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,WEST TORRENS,THEBARTON,5.0,"547,500",NaN,NaN,NaN,WEST TORRENS,THEBARTON,3.0,...,2.0,"673,500",10.05%,WEST TORRENS,THEBARTON,5.0,"642,500",2.0,"752,500",17.12%
475,WEST TORRENS,TORRENSVILLE,15.0,"545,000",7.0,"588,000",7.89%,WEST TORRENS,TORRENSVILLE,10.0,...,6.0,"651,500",5.08%,WEST TORRENS,TORRENSVILLE,7.0,"525,000",15.0,"670,000",27.62%
476,WEST TORRENS,UNDERDALE,8.0,"610,500",5.0,"700,000",14.66%,WEST TORRENS,UNDERDALE,9.0,...,4.0,"515,000",-18.25%,WEST TORRENS,UNDERDALE,5.0,"660,000",7.0,"601,000",-8.94%
477,WEST TORRENS,WEST BEACH,13.0,"691,250",16.0,"852,500",23.33%,WEST TORRENS,WEST BEACH,11.0,...,13.0,"780,000",-13.46%,WEST TORRENS,WEST BEACH,12.0,"751,000",11.0,"811,000",7.99%
478,WEST TORRENS,WEST RICHMOND,7.0,"430,000",4.0,"510,000",18.60%,WEST TORRENS,WEST RICHMOND,NaN,...,6.0,"427,500",-12.76%,WEST TORRENS,WEST RICHMOND,2.0,"500,000",NaN,NaN,NaN

In [25]:
data_2020

,City,Suburb,Sales\n1Q 2019,Median\n1Q 2019,Sales\n1Q 2020,Median\n1Q 2020,Median\nChange,City,Suburb,Sales\n2Q 2019,...,Sales\n3Q 2020,Median\n3Q 2020,Median\nChange,City,Suburb,Sales\n4Q 2019,Median\n4Q 2019,Sales\n4Q 2020,Median\n4Q 2020,Median\nChange
0,ADELAIDE,ADELAIDE,4.0,"1,002,500",6.0,"810,000",-19.20%,ADELAIDE,ADELAIDE,4.0,...,3.0,"671,000",-19.98%,ADELAIDE,ADELAIDE,4.0,"770,117",3.0,"864,750",12.29%
1,ADELAIDE,NORTH ADELAIDE,10.0,"972,000",15.0,"1,360,000",39.92%,ADELAIDE,NORTH ADELAIDE,7.0,...,8.0,"1,025,000",-12.02%,ADELAIDE,NORTH ADELAIDE,10.0,"1,352,500",7.0,"1,600,000",18.30%
2,ADELAIDE HILLS,ALDGATE,16.0,"830,000",10.0,"797,500",-3.92%,ADELAIDE HILLS,ALDGATE,15.0,...,11.0,"730,000",4.66%,ADELAIDE HILLS,ALDGATE,15.0,"751,000",19.0,"863,750",15.01%
3,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,...,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,NaN,...,NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,1.0,"375,000",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,WEST TORRENS,THEBARTON,NaN,NaN,2.0,"745,000",NaN,WEST TORRENS,THEBARTON,4.0,...,1.0,"890,000",32.15%,WEST TORRENS,THEBARTON,2.0,"752,500",4.0,"654,000",-13.09%
475,WEST TORRENS,TORRENSVILLE,7.0,"588,000",10.0,"653,000",11.05%,WEST TORRENS,TORRENSVILLE,9.0,...,10.0,"615,000",-6.11%,WEST TORRENS,TORRENSVILLE,16.0,"642,500",17.0,"705,000",9.73%
476,WEST TORRENS,UNDERDALE,5.0,"700,000",9.0,"660,000",-5.71%,WEST TORRENS,UNDERDALE,5.0,...,4.0,"650,000",26.21%,WEST TORRENS,UNDERDALE,7.0,"601,000",5.0,"605,000",0.67%
477,WEST TORRENS,WEST BEACH,16.0,"852,500",15.0,"872,500",2.35%,WEST TORRENS,WEST BEACH,12.0,...,16.0,"805,000",3.21%,WEST TORRENS,WEST BEACH,11.0,"811,000",19.0,"875,000",7.89%
478,WEST TORRENS,WEST RICHMOND,4.0,"510,000",3.0,"462,500",-9.31%,WEST TORRENS,WEST RICHMOND,5.0,...,5.0,"475,500",11.23%,WEST TORRENS,WEST RICHMOND,NaN,NaN,1.0,"388,500",NaN

In [26]:
data_2021

,City,Suburb,Sales\n1Q 2020,Median\n1Q 2020,Sales\n1Q 2021,Median\n1Q 2021,Median\nChange,City,Suburb,Sales\n2Q 2020,...,Sales\n3Q 2021,Median\n3Q 2021,Median\nChange,City,Suburb,Sales\n4Q 2020,Median\n4Q 2020,Sales\n4Q 2021,Median\n4Q 2021,Median\nChange
0,ADELAIDE,ADELAIDE,6.0,"810,000",8.0,"1,013,000",25.06%,ADELAIDE,ADELAIDE,11.0,...,5.0,"1,012,500",50.89%,ADELAIDE,ADELAIDE,3.0,"864,750",7.0,"1,400,000",61.90%
1,ADELAIDE,NORTH ADELAIDE,16.0,"1,370,000",13.0,"1,410,000",2.92%,ADELAIDE,NORTH ADELAIDE,6.0,...,9.0,"1,250,000",21.95%,ADELAIDE,NORTH ADELAIDE,7.0,"1,600,000",10.0,"1,247,500",-22.03%
2,ADELAIDE HILLS,ALDGATE,10.0,"797,500",14.0,"875,000",9.72%,ADELAIDE HILLS,ALDGATE,9.0,...,15.0,"875,000",19.86%,ADELAIDE HILLS,ALDGATE,20.0,"863,750",14.0,"1,287,500",49.06%
3,ADELAIDE HILLS,ASHTON,NaN,NaN,1.0,"940,000",NaN,ADELAIDE HILLS,ASHTON,NaN,...,1.0,"765,000",NaN,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,1.0,"725,000",NaN,ADELAIDE HILLS,BASKET RANGE,1.0,...,NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,WEST TORRENS,THEBARTON,2.0,"745,000",4.0,"640,000",-14.09%,WEST TORRENS,THEBARTON,2.0,...,6.0,"847,000",-4.83%,WEST TORRENS,THEBARTON,4.0,"654,000",2.0,"1,026,000",56.88%
475,WEST TORRENS,TORRENSVILLE,9.0,"676,000",13.0,"700,500",3.62%,WEST TORRENS,TORRENSVILLE,8.0,...,15.0,"776,500",25.75%,WEST TORRENS,TORRENSVILLE,17.0,"705,000",10.0,"930,000",31.91%
476,WEST TORRENS,UNDERDALE,9.0,"660,000",10.0,"885,000",34.09%,WEST TORRENS,UNDERDALE,6.0,...,11.0,"545,000",-16.15%,WEST TORRENS,UNDERDALE,6.0,"605,000",14.0,"955,000",57.85%
477,WEST TORRENS,WEST BEACH,14.0,"885,000",11.0,"899,500",1.64%,WEST TORRENS,WEST BEACH,10.0,...,17.0,"1,105,000",37.27%,WEST TORRENS,WEST BEACH,19.0,"875,000",16.0,"1,025,000",17.14%
478,WEST TORRENS,WEST RICHMOND,3.0,"462,500",6.0,"527,500",14.05%,WEST TORRENS,WEST RICHMOND,4.0,...,4.0,"562,000",18.19%,WEST TORRENS,WEST RICHMOND,1.0,"388,500",5.0,"680,438",75.14%

In [27]:
data_2022

,City,Suburb,Sales\n1Q 2021,Median\n1Q 2021,Sales\n1Q 2022,Median\n1Q 2022,Median\nChange,City,Suburb,Sales\n2Q 2021,...,Sales\n3Q 2022,Median\n3Q 2022,Median\nChange,City,Suburb,Sales\n1Q 2014,Median\n1Q 2014,Sales\n1Q 2015,Median\n1Q 2015,Median\nChange
0,ADELAIDE,ADELAIDE,8.0,"1,013,000",2.0,"1,266,250",25.00%,ADELAIDE,ADELAIDE,4.0,...,5.0,"853,000",-16.78%,ADELAIDE,ADELAIDE,7.0,"1,400,000",6.0,"1,400,000",0.00%
1,ADELAIDE,NORTH ADELAIDE,12.0,"2,205,000",4.0,"1,617,500",-26.64%,ADELAIDE,NORTH ADELAIDE,11.0,...,6.0,"1,100,500",-11.96%,ADELAIDE,NORTH ADELAIDE,10.0,"1,247,500",6.0,"1,325,000",6.21%
2,ADELAIDE HILLS,ALDGATE,14.0,"875,000",6.0,"870,000",-0.57%,ADELAIDE HILLS,ALDGATE,18.0,...,17.0,"1,230,000",40.57%,ADELAIDE HILLS,ALDGATE,14.0,"1,287,500",14.0,"1,170,000",-9.13%
3,ADELAIDE HILLS,ASHTON,1.0,"940,000",NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,2.0,...,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,NaN,2.0,"900,000",NaN
4,ADELAIDE HILLS,BASKET RANGE,1.0,"725,000",NaN,NaN,NaN,ADELAIDE HILLS,BASKET RANGE,1.0,...,2.0,"783,000",NaN,ADELAIDE HILLS,BALHANNAH,6.0,"537,500",6.0,"775,300",44.24%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,WEST TORRENS,THEBARTON,4.0,"625,000",9.0,"832,500",33.20%,WEST TORRENS,THEBARTON,4.0,...,6.0,"843,500",-0.41%,WEST TORRENS,THEBARTON,2.0,"1,026,000",2.0,"808,004",-21.25%
476,WEST TORRENS,TORRENSVILLE,13.0,"620,000",11.0,"933,000",50.48%,WEST TORRENS,TORRENSVILLE,11.0,...,9.0,"910,000",8.53%,WEST TORRENS,TORRENSVILLE,9.0,"940,000",10.0,"1,070,000",13.83%
477,WEST TORRENS,UNDERDALE,10.0,"890,000",9.0,"775,556",-12.86%,WEST TORRENS,UNDERDALE,9.0,...,8.0,"842,000",54.50%,WEST TORRENS,UNDERDALE,14.0,"955,000",4.0,"907,500",-4.97%
478,WEST TORRENS,WEST BEACH,11.0,"899,500",17.0,"1,020,000",13.40%,WEST TORRENS,WEST BEACH,15.0,...,9.0,"1,086,250",-9.85%,WEST TORRENS,WEST RICHMOND,5.0,"680,438",6.0,"733,000",7.72%
479,WEST TORRENS,WEST RICHMOND,5.0,"485,000",NaN,NaN,NaN,WEST TORRENS,WEST RICHMOND,2.0,...,4.0,"745,000",32.56%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data_2023

,City,Suburb,Sales\n1Q 2014,Median\n1Q 2014,Sales\n1Q 2015,Median\n1Q 2015,Median\nChange,City,Suburb,Sales\n1Q 2014,Median\n1Q 2014,Sales\n1Q 2015,Median\n1Q 2015,Median\nChange
0,ADELAIDE,ADELAIDE,2.0,"1,266,250",2.0,"1,205,000",-4.84%,ADELAIDE,ADELAIDE,5.0,"940,000",4.0,"978,000",4.04%
1,ADELAIDE,NORTH ADELAIDE,4.0,"1,617,500",5.0,"1,850,000",14.37%,ADELAIDE,NORTH ADELAIDE,15.0,"1,300,000",3.0,"1,040,000",-20.00%
2,ADELAIDE HILLS,ALDGATE,6.0,"870,000",13.0,"1,110,000",27.59%,ADELAIDE HILLS,ALDGATE,5.0,"1,320,000",11.0,"1,119,045",-15.22%
3,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN,ADELAIDE HILLS,BALHANNAH,2.0,790000,1.0,635000,-19.62%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,WEST TORRENS,TORRENSVILLE,12.0,"941,500",7.0,"1,011,500",7.43%,WEST TORRENS,THEBARTON,6.0,"755,000",4.0,"875,000",15.89%
478,WEST TORRENS,UNDERDALE,9.0,"775,556",8.0,"835,500",7.73%,WEST TORRENS,TORRENSVILLE,10.0,"998,000",13.0,"1,058,128",6.02%
479,WEST TORRENS,WEST BEACH,17.0,"1,020,000",23.0,"1,230,000",20.59%,WEST TORRENS,UNDERDALE,7.0,"815,000",3.0,"1,104,000",35.46%
480,WEST TORRENS,WEST RICHMOND,NaN,NaN,NaN,NaN,NaN,WEST TORRENS,WEST BEACH,13.0,"1,065,000",21.0,"1,082,000",1.60%
481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEST TORRENS,WEST RICHMOND,3.0,525000,3.0,580000,10.48%

In [29]:
Q1_2023

,City,Suburb,Sales\n1Q 2014,Median\n1Q 2014,Sales\n1Q 2015,Median\n1Q 2015,Median\nChange
0,ADELAIDE,ADELAIDE,2.0,"1,266,250",2.0,"1,205,000",-4.84%
1,ADELAIDE,NORTH ADELAIDE,4.0,"1,617,500",5.0,"1,850,000",14.37%
2,ADELAIDE HILLS,ALDGATE,6.0,"870,000",13.0,"1,110,000",27.59%
3,ADELAIDE HILLS,ASHTON,NaN,NaN,NaN,NaN,NaN
4,ADELAIDE HILLS,BASKET RANGE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
476,WEST TORRENS,THEBARTON,9.0,"832,500",2.0,"1,112,500",33.63%
477,WEST TORRENS,TORRENSVILLE,12.0,"941,500",7.0,"1,011,500",7.43%
478,WEST TORRENS,UNDERDALE,9.0,"775,556",8.0,"835,500",7.73%
479,WEST TORRENS,WEST BEACH,17.0,"1,020,000",23.0,"1,230,000",20.59%
480,WEST TORRENS,WEST RICHMOND,NaN,NaN,NaN,NaN,NaN